### Bower and Node
node_modules
bower_components

### AndTekUI
agents.json
assets/js/*.js
!assets/js/app.js
assets/css/style.css
assets/css/framework7/*
!assets/css/framework7/.gitkeep
assets/img/*
!assets/img/.gitkeep
