### Bower and Node
node_modules
bower_components

### AndTekUI
config.json
# JavaScript
assets/js/*.js
!assets/js/app.js
# Sass / CSS
assets/css/style.css
assets/css/framework7/*
!assets/css/framework7/.gitkeep
# Images
assets/img/*
!assets/img/icons
!assets/img/mockups
!assets/img/.gitkeep
# Fonts
assets/fonts/*
!assets/fonts/.gitkeep
