/* Reset inactive color for label */

.list-block .item-after {
  color: initial;
}

/* Color handler */

.green {
  color: green;
}

.red {
  color: red;
}

/* Helper to force elements using float:right */

.force-right {
  float: right;
}
